# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

1. a = 0 #Global variable
2. def b():
3.  global a  #Global variable
4.  a = c(a) #calls local method c
5. def c(a):
6.  return a + 2 #returns Global variable + c
 
When last expression a is evaludated, 6 is displayed.

execution will start from line 1 where value of a is defined as 0.
When method b() is executed where a is global and it's value will be 0 and in the same method, method c is also called.
Hence, method c(a) will be executed and returned value (value will be 2) will be stored in variable a as mentioned in method b (line #4).
So when first b() is executed, value of 'a' will be 2.
when second time b() is executed value of 'a' will be 4.
when third time b() is executed value of 'a' will be 6.
Therefore, When a is evaluated 6 will be displayed.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [1]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print ("File {} not found".format(file_name))
    
file_length('midterm.py')

245

In [2]:
file_length('idterm.py')

File idterm.py not found

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [3]:
class Marsupial:
    t = []
    def __init__(self):
        self = []
    def put_in_pouch(self,toy):
        if toy not in self.t:
            self.t.append(toy)
        else:
            return
    def pouch_contents(self):
        return (self.t)

In [4]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [5]:
class Kangaroo(Marsupial):
    def __init__(self, xcoord=0, ycoord=0):
        self.x = xcoord
        self.y = ycoord
        
    
    def setx(self, xcoord):
        
        self.x = xcoord
        
    def sety(self, ycoord):
        
        self.y = ycoord
    
    def get(self):
        
        return (self.x, self.y)
    
    def jump(self, dx, dy):
        
        self.x += dx
        self.y += dy

    def __str__(self):
        
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)

In [6]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [7]:
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

In [9]:
print(k)

I am a Kangaroo located at coordinates (3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [10]:
def collatz(x):
    print(x)
    if (x == 1):
        return x
    if (x%2==0):
        return (collatz(x//2))            
    else:
        return(collatz((3*x)+1))

In [11]:
collatz(1)

1

1

In [12]:
collatz(10)

10
5
16
8
4
2
1

1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [16]:
s ='' 
def binary(x):
    global s
    s = (str(x%2)+s)  
    if (x>1):
        return binary(x//2)
    print (s)
    s=''

In [17]:
binary(0)

0

In [19]:
binary(1)

1

In [20]:
binary(3)

11

In [21]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [2]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    a = ''
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.a = 'h1'
        if tag == 'h2':
            self.a = 'h2'
            
    def handle_data(self, data):
        if self.a == 'h1':
            print(data)
        if self.a == 'h2':
            print('\t'+data)
      
    def handle_endtag(self, tag):
         if tag =='h1' or tag == 'h2':
            self.a = ''

infile = open('w3c.html') 
content = infile.read() 
infile.close() 
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/test1.html
http://reed.cs.depaul.edu/lperkovic/test2.html
http://reed.cs.depaul.edu/lperkovic/test4.html
http://reed.cs.depaul.edu/lperkovic/test3.html
http://reed.cs.depaul.edu/lperkovic/test4.html

In [2]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)        
    def getLinks(self):
        return self.links

def webdir(url, depth, indent):
    #for obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()  
    #to print the http links found in web page
    print("\t"*indent+"{}".format(url))
    for link in urls:        
        webdir(link,depth-1,indent+1)  

webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
		http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

In [1]:
import sqlite3

db1 = sqlite3.connect("Env.db")
cur = db1.cursor()
cur.execute("Create Table Weather (City text, Country text, Season text, Temperature float, Rainfall float)")
cur.execute("Insert into Weather (City, Country, Season,Temperature,Rainfall) values ('Mumbai','India','Winter',24.8,5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346),('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157),('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)")
db1.commit()

In [2]:
#a. All the temperature data
cur.execute("select Temperature from Weather")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [3]:
#b. All the cities, but without repetition
cur.execute("select distinct City from Weather")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [4]:
#c. All the records for India
cur.execute("select * from Weather where  Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [5]:
#d. All the Fall records
cur.execute("select * from Weather where Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [6]:
#e. The city, country, and season for which the average rainfall is between 200and 400 millimeters
cur.execute("select City, Country, Season from Weather where Rainfall between 200 and 400 ")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [7]:
#f. The city and country for which the average Fall temperature is above 20degrees, in increasing temperature order.
cur.execute("select City,Country from Weather where Season ='Fall' and Temperature>20 order by Temperature ")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [8]:
#g. The total annual rainfall for Cairo
cur.execute("select sum(Rainfall) from Weather where City = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [9]:
#h. The total rainfall for each season
cur.execute("select Season,sum(Rainfall) from Weather group by Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

In [10]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [11]:
#a
newwords = [word.upper() for word in words]
newwords

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [12]:
#b
newwords = [word.lower() for word in words]
newwords

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [13]:
#c
newwords = [len(word) for word in words]
newwords

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [14]:
#d
newwords = [[word.upper(),word.lower(),len(word)] for word in words]
newwords

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [15]:
#e
newwords = [word for word in words if len(word)>3]
newwords

['quick', 'brown', 'jumps', 'over', 'lazy']